@import "../../node_modules/foundation-sites/scss/foundation";
@import "../../node_modules/foundation-sites/scss/global";
@include foundation-everything();

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

@import "../../node_modules/motion-ui/motion-ui";

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}



/* Image slider */
.product-image-gallery {
  background-color: rgba(23, 37, 22, 0.62);
  padding: 1.5rem;
}

.pdp-product-image {
  margin-bottom: 20px;
  max-height: 380px;
  width: 100%;
}
h2 {

  font-size: 20px;
  color: #8ab478;
}

.product-thumbs {

  a {
    margin-left: 8px;
    margin-right: 8px;
    padding: 0 !important;

    img {
      @include thumbnail;
      border-radius: 3px;
      width: 50px;
      height: 50px;
      border: none;
    }
  }
}

/* Alert messages */
$alert-callout-subtle-border-left-width: rem-calc(5);
$alert-callout-subtle-radius: 0.6rem;
$alert-callout-subtle-large-font-scale: 150%;
$alert-callout-subtle-small-font-scale: 80%;

.alert-callout-subtle {
  width: 100%;
  background: $light-gray;
  color: $dark-gray;
  border: 0;
  border-left: $alert-callout-subtle-border-left-width solid $dark-gray;
  box-shadow: 0 5px 8px -6px rgba(0,0,0, 0.2);

  &.success {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $success-color;
  }

  &.alert {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $alert-color;
  }

  &.warning {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $warning-color;
  }

  &.primary {
    background: $light-gray;
    color: $dark-gray;
    border-left: $alert-callout-subtle-border-left-width solid $primary-color;
  }

  &.small {

    font-size: $alert-callout-subtle-small-font-scale;

    .close-button {
      font-size: 1.5rem;
    }
  }

  &.large {
    font-size: $alert-callout-subtle-large-font-scale;

    .close-button {
      font-size: 3rem;
    }
  }

  .close-button {
    font-size: 2rem;
    @include vertical-center;
  }

  &.radius {
    border-radius: $alert-callout-subtle-radius;
  }
}

/* Vangst kaart */

$responsive-blog-post-highlight: $primary-color;
$responsive-blog-post-vert-seperate: 4rem;

.responsive-blog-post {
  margin-bottom: $responsive-blog-post-vert-seperate;
  background-color: rgba(2,2,2,0.4);
  padding: 20px;
  border-radius: 20px !important;

  p {
    color: white;
  }

  .button {
    padding: 0.85rem 3rem;
    background: $responsive-blog-post-highlight;

    &:hover {
      background-color: darken($responsive-blog-post-highlight, 5%);
      transition: color 0.3s ease-in;
    }
  }

  .individual-post {
    margin-bottom: $responsive-blog-post-vert-seperate;
  }

  h4 {
    margin-bottom: 0;
    color: white;
    &:hover {
      transition: color 0.3s ease-in;
    }

    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  img {
    margin-bottom: 1.5rem;

  }

  .date {
    font-size: 0.8rem;
    color: #8ab478;
  }
  h5 {
    color: #8ab478;
  }
}

/* vangst single blog*/

$responsive-blog-post-highlight: $primary-color;
$responsive-blog-post-vert-seperate: 1rem;

.responsive-blog-post {
  margin-bottom: $responsive-blog-post-vert-seperate;
  p {
    color: #8ab478;
  }

  .button {
    padding: 0.85rem 3rem;
    background: $responsive-blog-post-highlight;

    &:hover {
      background-color: darken($responsive-blog-post-highlight, 5%);
      transition: color 0.3s ease-in;
    }
  }

  .individual-post {
    margin-bottom: $responsive-blog-post-vert-seperate;

    img {
      max-height: 230px
    }
  }

  .individual-post-big {
    min-height: 100%;

    padding-bottom: 30px;
  }

  h3 {
    color: white;
  }

  h4 {
    margin-bottom: 0;

    &:hover {
      text-decoration: underline;
      transition: color 0.3s ease-in;
    }

    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  img {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
  }

  .date {
    font-size: 0.8rem;
    color: $dark-gray;
  }
}

/* Wateren card */

$card-user-profile-bg: rgba(2,2,2,0.9);
$card-user-profile-text-color: $body-font-color;

.card-user-profile {
  position: relative;
  z-index: 0;
  border-radius: 20px !important;
  @include card-container($card-user-profile-bg, $card-user-profile-text-color, 1rem, $global-radius);

  .catch_bigFish, .catch_hardWater, .catch_LotsOfFish, .catch_counter, .catch_lobster {
    position: absolute;
    z-index: 1000;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .catch_bigFish, .catch_hardWater, .catch_LotsOfFish, .catch_lobster {
    font-size: 20px;
  }

  .catch_counter {
    top: 0;
    right:0;
    width: 100px;
    background-color: #8ab478 !important;
    border-radius: 0 0 0 10px;
    i {
      margin: 5px;
    }
  }

  .catch_bigFish {
    top: 65px;
    background-color: #ce9d41 !important;
  }

  .catch_LotsOfFish {
    top: 120px;
    background-color:
            #33aec2 !important;
  }
  .catch_hardWater {
    top: 175px;
    background-color: #c7354d !important;
  }

  .catch_lobster {
    top: 230px;
    right: 10px;
    background-color: #cc8b00}

  .card-user-profile-img {
    max-height: 300px;
    height: 300px;
  }
  &:hover {
    .card-user-profile-img {
      opacity: 1;
    }
  }
  p {
    color: #8ab478;
  }
}

.card-user-profile-content {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: rem-calc(-55);
    left: rem-calc(-30);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem-calc(55) 0 0 rem-calc(500);
    z-index: 0;
    border-color: transparent transparent transparent $card-user-profile-bg;
  }
}

.card-user-profile-actions {
  @include card-divider;
  background: $card-user-profile-bg;
  display: flex;
}

.card-user-profile-img {
  max-width: 100%;
  opacity: 0.85;
  transition: all 0.25s ease;
}

.card-user-profile-avatar {
  position: absolute;
  bottom: 100%;
  left: 1rem;
  z-index: 2;
  max-width: rem-calc(90);

  img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba($black, 0.3);
  }
}

.card-user-profile-name {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-user-profile-button {
  margin-bottom: 0;
  flex: 1 0 0;

  + .card-user-profile-button {
    margin-left: 1rem;
  }
}

.card-user-profile-info {
  font-size: 0.875rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

/* Featured home page*/
$product-feature-section-large-width: 75%;
$product-feature-section-bg: $light-gray;
$product-feature-section-divider-color: $medium-gray;

.product-feature-section {
  background: rgba(23, 37, 22, 0.62);
  color: white;
  padding: 1rem;
}

.product-feature-section-outer {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;

  @include breakpoint(medium) {
    max-width: $product-feature-section-large-width;
  }
}

.product-feature-section-headline {
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

.product-feature-section-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-feature-section-feature {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
  flex: 1 0 50%;
  justify-content: flex-start;
  flex-direction: column;

  &.top-left {
    border-right: 1px solid $product-feature-section-divider-color;
    border-bottom: 1px solid $product-feature-section-divider-color;
  }

  &.top-right {
    border-bottom: 1px solid $product-feature-section-divider-color;
  }

  &.bottom-left {
    border-right: 1px solid $product-feature-section-divider-color;
  }

  .feature-title {
    margin-bottom: 0;
    line-height: 16px;
    font-size: 0.875rem;
  }

  .feature-desc {
    margin-bottom: 0;
    color: #8ab478;
    font-weight: 800;
  }

  .fa {
    margin-right: 1.25rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  @include breakpoint(medium) {
    padding: 2rem;
    flex: 1 0 50%;
    justify-content: flex-start;
    flex-direction: row;
  }
}

// 404 page

$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.about-the-author {
  background-color: $white;
  padding: 1rem;
  border: 1px solid $medium-gray;

  .separator-left {
    text-align: left;
    @include clearfix;

    &::after {
      position: relative;
      width: $about-the-author-separator-width;
      border-bottom: $about-the-author-separator-thickness solid $primary-color;
      margin: 0.3rem auto 0;
      margin-left: 0;
    }
  }

  .author-title {
    text-transform: $about-the-author-text-transform;
  }

  .author-social {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

    .author-image {
      border: 1px solid $medium-gray;
    }
  }
}












