


.navigation-background {
  background-color: #3b3b3b;
}

.website-logo-navigation {
  max-width: 120px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*custom colors*/

.mainGreenBackground {
  background-color: #8ab478 !important;
}

.mainOrangeBackground {
  background-color: chocolate !important;
}

.mainGreenColor {
  color: #8ab478;
}

.formLabelColor {
  color: #d7ecfa;
}

.delete-button {
  color: red;
}

#vangsten_toevoegen label, #vangsten_toevoegen{
  color:white;
}

.home_title {
  color: white;
}




