<!DOCTYPE html>
<html lang="NL">
    <head>
    <link>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/455ce46c8f.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
           {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body style="background-image: url('{{ asset('build/images/carpp_background.jpg')}}')">
        <div class="grid-container" >
            <div class="grid-y" style="min-height: 100vh">
                <div class="cell shrink">
                    {% include "navigation.html.twig" %}
                </div>
                <div class="cell auto cell-block-y" style="background-color: rgba(23, 37, 22, 0.62)">
                    {% block body %}{% endblock %}
                </div>
                <div class="cell shrink">
                    {% include "footer.html.twig" %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
