{% extends 'base.html.twig' %}
{% block title %}Pas vangst aan{% endblock %}
{% block body %}
   <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
         <a class="button float-left mainGreenBackground " href="{{ path('app_vangsten') }}">Terug</a>
      </div>
   </div>
   <div class ="grid-x align-center">
      <div class="cell large-6 medium-8 small-10">
         {{ form(aanpas_form) }}
         {{ form_start(aanpas_form, {'action': path('app_vangst_aanpassen',{id: vangst.id}), 'method': 'PATCH'}) }}
      </div>
   </div>
{% endblock %}