{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mainGreenColor">Voeg vangst toe</h1>
    <div class ="grid-x align-center">
            <div class="cell large-6 medium-8 small-10">
                {{ form(vangsten_form) }}
            </div>
    </div>
{% endblock %}